* {
    font-family: sans-serif, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.618em;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 

html {
    font-size: 16px;
    margin-top: 3em;
}
body {
    background-image: url("images/background2.jpg");
    width: 80%;
    text-align: center;
    padding-left: 15em;
    background-attachment: fixed;
}

h1, h2, h3 {
    color: #666; 
}


header, 
main,
footer {
    margin: 0 auto; 
    max-width: 800px;    
}

header {
    padding: 2em 0;
}

header h1 {
    font-size: 3em;
    align-items: center;
    padding-left: .5em;
}

header span {
    font-size: 1.5em;
    color: rgb(31, 29, 29);
    align-items: center;
    padding-left: .5em;
}
nav {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    flex-flow: row;
    justify-content: center;

    background: #333;
}   

nav a {
    padding: .5em 2em;
    text-decoration: none;
    color: #fff;
}

nav a:hover {
    background: #666;
}


section {
    margin: auto;
    width: 80%;
    padding-bottom: 2rem;
}

#section > p {
    margin: 2em;
}

section ul {
    padding-Left: 1.5em;
}

h2 {
    text-align: center;
}

#h2 {
    text-align: center;
    padding-right: 3em;
}
#about {
    text-align:justify;
    background-color: #D4AB32;
    border-radius: 7px;
    opacity: 90%;
    margin: 2rem auto;
    margin-bottom: 1em;
    min-height: 20em;
    padding-bottom: 3em;
    padding-left: 1em;
    padding-right: 1em;
    
     
}

.center {
    display: block; 
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 50%;
}

.projects {
    display: grid;
    color: rgb(31, 29, 29);
}

#projects > p {
    text-align: center;
    background-color:ivory;
    
}
#projects article {
    background: #ccc; 
    padding: 1em; 
    margin: 2 rem auto;
    border-radius: 7px;
    column-gap: 3em;
    row-gap: 3em;
}

#projects article img {
    width: 50%; 
    border: 1px solid #333; 
}

#contactInfo {
    text-align: center;
    background-color: #7493E6;    
    border-radius: 550px;
    opacity: 90%;
    list-style: none;
    margin: 2 rem auto; 
    color:rgb(31, 29, 29);
    
}

#icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    margin-top: 2em;
    margin-bottom: 1em;
    background: #666;
    color: #fff;
    padding: 1em 0; 
    text-align: center;
    border-radius: 10px;
}
